/* Agrega estos estilos al final de tu archivo styles.css */

/* Estilos para los botones */
button {
    padding: 10px 20px; /* Padding uniforme para todos los botones */
    font-size: 16px; /* Tamaño de fuente uniforme para todos los botones */
    background-color: #4CAF50; /* Color de fondo */
    color: white; /* Color de texto */
    border: none; /* Borde */
    cursor: pointer; /* Cursor al pasar el mouse */
    margin-bottom: 10px; /* Espacio entre los botones */
}

/* Estilos para los enlaces dentro de los botones */
button a {
    text-decoration: none; /* Quita el subrayado del enlace */
    color: inherit; /* Hereda el color del texto del botón */
}

/* Estilos adicionales para los botones según su clase */
.toggle-button {
    background-color: #008CBA; /* Cambia el color de fondo */
}

/* Pseudo-clases para resaltar los botones al pasar el mouse */
button:hover {
    background-color: #45a049; /* Cambia el color de fondo al pasar el mouse */
}

/* Estilos para el menú */
#menu {
    display: none; /* Oculta el menú por defecto */
}

/* Estilos adicionales para los enlaces dentro del menú */
#menu a {
    display: block; /* Convierte los enlaces en bloques para ocupar todo el ancho del contenedor */
    padding: 10px; /* Espaciado interno */
    text-decoration: none; /* Quita el subrayado del enlace */
    color: black; /* Color de texto */
}

/* Pseudo-clases para resaltar los enlaces del menú al pasar el mouse */
#menu a:hover {
    background-color: #f2f2f2; /* Cambia el color de fondo al pasar el mouse */
}
